DEVICE:
  PRECISION: 32
  GPUS: 1
  TPU_CORES: null
  ACCELERATOR: null
  USE_DDPPLUGIN: true
  SYNC_BN: false
  CUDNN:
    BENCHMARK: true
    DETERMINISTIC: false
EXPERIMENT:
  SEED: 0
  ROOT_DIR : experiments
  OUTPUT_DIR: null
  RESUME: null
  VAL_PERIOD: 1
TRAIN:
  BATCH_SIZE: 128
  BATCH_ACCUMULATION: 1
  NUM_WORKERS: 4
  PIN_MEMORY: true
  SHUFFLE: true
  DROP_LAST: true
VAL:
  BATCH_SIZE: 128
  NUM_WORKERS: 4
  PIN_MEMORY: true
TEST:
  RUN_TEST: false
  BATCH_SIZE: 128
  NUM_WORKERS: 4
  PIN_MEMORY: true
LOG:
  SHOW_PROGRESS_BAR: false
  PROGRESS_BAR_REFRESH_RATE: null
  SHOW_TRAIN_IN_PROGRESS_BAR: true
  LOG_ETA: true
  LOG_PERIOD: 50
  CHECKPOINT:
    FILENAME: '{epoch:04d}'
    PERIOD: 10
    TOP_K: -1
    SAVE_LAST: false
    VERBOSE: false
  USE_CSV_LOGGER: true
  USE_TENSORBOARD: true
  TENSORBOARD:
    LOG_DIR: tensorboard
    DEFAULT_HP_METRIC: false
  USE_WANDB: false
  WANDB:
    PROJECT: null
    RUN_ID: null
    GROUP: null
  USE_CONSOLE_LOGGER: true
  CONSOLE:
    SHOW_CONFIG: true
    TIMESTAMP_COLOR: green
    STAGE_NAME_COLOR: green
    TRAIN_KEY_COLOR: magenta
    VAL_KEY_COLOR: cyan
DEBUG:
  DEBUG: false
  FAST_DEV_RUN: true
  NUM_SANITY_VAL_STEPS: 2
  PROFILER: null
  WEIGHT_SUMMARY: top
